/* You can add global styles to this file, and also import other style files */
/* file --> styles.css */
html,
body,
my-app
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #343a40;
}
my-app{
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
}


/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
